<!--
*		A JavaScript Speech Recognition Library based Bot that responde to certain commands.
*		
*		INPUT COMMANDS:	a. 'new *itemName *itemCode'
*						b. 'check *itemNumber'
*						c. 'delete checked '
*						d. 'remove *itemNumber'
*		
*		OUTPUT RESULTS: a. Adds a new Item List with specified itenmName and itemCode.
*						b. Checks the checkBox for which the itemNumber is specified.
*						c. Deletes the checked Check Boxes.
*						d. Removes the checkBox for which the itemNumber is specified.
-->
<!DOCTYPE html>
<html ng-app="SpeechRecognitionTest">
    <head>
        <title>Angular App | Angular Page | Angular Check List</title>

        <!-- Importing the external StyleSheet main.css -->
        <!-- Here the properties and the styling are being imported from main.css -->
        <link rel="stylesheet" href="./main.css">

		<!-- Adding Favicon -->
		<link rel="icon" href="https://www.w3.org/html/logo/downloads/HTML5_Badge_512.png" type="image/gif" sizes="16x16">

		<!-- Import the bootstrap.min.css from the CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Import the angular.min.js from the CDN -->
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	    <!-- Importing Bootstrap from the CDN -->
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	    <!-- Import Annyang Speech Recognition Library from the CDN -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>

    </head>
    <body>

		<div ng-controller="SpeechRecognitionController">

			<div class="container">

    			<h3> A JavaScript Speech Recognition Bot </h3>

    			<ul ng-if="speechDone()" class="nav nav-pills">
				  <li role="presentation" class="active"><a href="#">Home</a></li>
				  <li role="presentation"><a href="#">Profile</a></li>
				  <li role="presentation"><a href="#">Messages</a></li>
				</ul>

				<hr>
        	
		        <form name="checkList" ng-submit="addCheckListItem()">
		        	<input type="text" name="newItem" value="CheckListItem" ng-model="newItem" required>
		        	<input type="text" name="newItemCode" value="CheckListItemCode" ng-model="newItemCode" required>
		        	<!-- Add a new Check List Item. -->
		        	<button class="btn btn-primary" ng-disabled = checkList.$invalid> Add Item </button> 
		        </form>

		        <!-- Delete the checked Check List Items. -->
		        <button class="btn btn-danger" ng-click="deleteCheckListItem()"> Delete Item </button>

		        <hr />

		        <ul class="list-group itemList">
		        	<!-- The statement in ng-repeat loops through the CheckList array and does it according to array's index -->
		        	<li class="list-group-item" ng-repeat="item in CheckList track by $index"> 
		        		<!-- Mark the CheckBoxes with their indexes to access them easily using annyang's speech recognition -->
		        		{{$index + 1}}
		        		<input type="checkbox" ng-model="item.checked">
		        		<!-- String Interpolation  -->
		        		<span ng-class="{'checked': item.checked}"> {{item.itemName}} </span>
		        		<!-- Number Interpolation  -->
		        		<span ng-class="{'checked': item.checked}" class="badge"> {{item.itemCode}} </span>
		        	</li>
		        </ul>

		        

	        </div>

        </div>


        <script>
        	
        	//We create an instance of the Angular Controller after creating an AngularModule.
        	//We use the $scope object to refer to the application model.
        	angular.module('SpeechRecognitionTest', []).controller('SpeechRecognitionController', ['$scope', function($scope) {


        		//We create a checkList array based on the scope or life of the controller.
        		$scope.CheckList = [
        			{
        				'itemName': 'Learn Python', 
        				'checked': false,
        				'itemCode': 'CS101'
        			},
        			{
        				'itemName': 'Learn Java', 
        				'checked': false,
        				'itemCode': 'CS103'
        			},
        			{
        				'itemName': 'Learn C#', 
        				'checked': false,
        				'itemCode': 'CS105'
        			}
        		]

        		//We create a addCheckListItem method to add the item to the checkList.
        		$scope.addCheckListItem = function() {

        			$scope.CheckList.push({
        				'itemName': $scope.newItem,
        				'checked': false,
        				'itemCode': $scope.newItemCode,
        			})

        			//Re-Initialise the newItem and newItemCode.
        			$scope.newItem = '';
        			$scope.newItemCode = '';

        		}

				//We create a deleteCheckListItem method to add the item to the checkList.
        		$scope.deleteCheckListItem = function() {

        			//Delete the Check List Items that are checked.
        			//The filter method is used to filter the array CheckList based on the checked items.
        			$scope.CheckList = $scope.CheckList.filter( function(value) {
        				return !value.checked;
        			})

        		} 


        		//These are the commands to be given to annyang.
        		var commands = {
        			//Once it reads 'new', the following words would be the itemName and the itemCode.
        			'new *text *code' : function(text, code) {
        				//Add the obtained itemName and itemCode to the newItem object.
        				$scope.newItem = text;
        				$scope.newItemCode = code;
        				//Add the newItem to the CheckList.
        				$scope.addCheckListItem();
        				$scope.$apply();
        			},
        			//Once it reads 'check', the following words would be the itemNumber ( strictly an Integer ).
        			'check *number' : function(number) {
        				//Parse the 'number' input into integer and then get 
        				//the CheckList number from the input that should be checked.
        				var value = parseInt(number.toString());	
        				$scope.CheckList[value - 1].checked = true;
        				$scope.$apply();
        			},
        			//Once it reads 'delete checked', the checked items will be deleted.
        			'delete checked' : function() {
        				//Delete the checked CheckBoxes on the command 'delete checked'.
        				$scope.deleteCheckListItem();
        				$scope.$apply();
        			},
        			//Once it reads 'remove', It'll listen for the checkBox number ( strictly an Integer ) and remove it from the CheckList.
        			'remove *number' : function(number) {
        				//Parse the 'number' input into integer and then remove 
        				//the item for which the number is read.
        				var value = parseInt(number);
        				//splice() mwthod will remove that specified Item from the List and the Second Argument is the number of removals.
        				$scope.CheckList.splice(value - 1, 1);
        				$scope.$apply();
        			},
        			'add navigation' : function() {
        				$scope.speechDone = function() {
        					return true;
        				}
        				$scope.$apply();
        				
        			} 
        		}

        		//Annyang adds the commands to the queue.
        		annyang.addCommands( commands );
        		//Annayng gets the debugger console.
        		annyang.debug();
        		//Annyang starts the listening
        		annyang.start();

        	}])

        </script>

       
        
    </body>
</html>